
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Ignore everything in allure-results
allure-results/*
allure-report/

# But keep categories.json
!allure-results/categories.json

